
/MyApp/.bundle
MyApp/.eslintrc.js
MyApp/.prettierrc.js
MyApp/.watchmanconfig
/MyApp/__tests__
/MyApp/android/.gradle
/MyApp/android/app/.cxx
/MyApp/android/app
/MyApp/android
/MyApp/backend/node_modules
/MyApp/backend/uploads
/MyApp/node_modules
/MyApp/ios
MyApp/package.json
MyApp/README.md
/MyApp/assets
MyApp/app.json
MyApp/babel.config.js
MyApp/backend/.env
MyApp/backend/mail.env
MyApp/backend/member.member_id
MyApp/backend/package-lock.json
MyApp/backend/package.json
MyApp/tsconfig.json
MyApp/Gemfile
MyApp/index.js
MyApp/jest.config.js
MyApp/metro.config.js
MyApp/package-lock.json
MyApp/components/RoleContext.js
MyApp/components/RoleSelection.js
